.main {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    font-family:'Apercu';
    color: #899efd ;
    align-items: flex-start;
    justify-content: center;

  
  }
  .card {
    background-color: #06091a;;
   display:flex;
   margin-top:8rem;
   justify-content: center;
   padding:24px;
   padding-top:0;
   padding-bottom:12px;
    border:2px solid transparent;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
  }
  .projectsBtn {
    all:unset;
    border: 1px solid transparent;
    color: #06091a;;
    background-color: #899efd;
    border-radius:12px;
    font-size:16px;
    padding:16px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-bottom:10px;
    transform: scale(1);
    
}

.projectsBtn:hover{
    animation: pulse 1s 1;
    cursor:pointer;
    background-color:#fde786;;
}