.smlinks {
    display:flex;
    justify-content: center;
    align-items: center;
   border: 1px solid transparent;
   border-radius:12px;
 

}
.smicon {
    width:32px;
    height:32px;
    padding:0.1rem;
}
.smicon:hover{
    cursor: pointer;
    color:#fde786;
}
