
.projectContainer {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    margin:0;
    padding:0;
    top:0;
    
  
}
.projectslist {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    font-family:'Apercu';
    border-radius:16px;
    gap:1rem;
    align-items: center;
    position: relative;
    top:0;
 
}
.projectitem {
    
    text-decoration: none;
        color: #899efd;
        background-color: #06091a;
        font-family:'Apercu';
        padding: 12px;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        font-size:20px;
        width:350px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

  .turnBtn {
    all: unset;
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  margin: 0.45rem;
  
  }
.turnBtnIcon {
    width: 20px;
    height:20px;
    background-color: #06091a;
    border-radius:12px;
    border:1px solid transparent;
}
.turnBtnIcon:hover {
    opacity: 1;
    cursor: pointer;
}
.backCard {
    height:195px;
    display: flex;
    justify-content: center;
    align-items:  center;
    padding-right:0.5rem;
    padding-left:0.5rem;
   
}


.icon {
    width: 24px;
    height:24px;
    margin:0.2rem;
    align-self:center;
}
.projecttitle{
    font-size:24px;
    
    margin:12px;
    text-align: center;
}
.projectlink {
    
        all:unset;
        border: 1px solid transparent;
        color: #06091a;
        background-color: #899efd;
        border-radius:12px;
        font-size:16px;
        padding:12px;
        display: flex;
        justify-content: center;
        width:250px;
        height:28px;
        margin:0.5rem;
        align-items: center;

       
}
    .projectlink:hover {
    cursor:pointer;
    background-color: #fde786;

    
    }
.projectlinks {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media (max-width: 768px) {
    /* Adjust .mainContainer padding for smaller screens */
    .projectslist {
   
        display: flex;
        flex-direction: column;
        justify-content: center;
       margin:0;
       padding:0;
    }
    .projectitem{
        width:350px;
    }
}
.heading {
    font-family:'Apercu';
    font-size: 32px;
    margin:0.5rem;
    font-weight: bold;
    padding:12px;
    padding-bottom:0;
    color:#030a28;
    text-align: center;
}