.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Apercu;
    color: #4466fc;
    margin-right:12px;
    margin-left: 12px;
}
.heading {
    all:unset;
    display: flex;
    font-size:24px;
    margin:0;
    padding: 0;
    align-items: center;
}
.heading:hover {
  cursor:pointer;
  color:#FC4466;
}
.about{
    all:unset;
    text-decoration: none;
   margin-right:1rem;
   font-weight: bold;
   

}
.about:hover {
    cursor: pointer;
    color:#FC4466;
}
.leftside {
  display:flex;
  align-items: center;
  font-size: 20px;
  margin:0;
    padding: 0;
}