.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Apercu';
    color: #06091a;
    padding:0;
   padding-right: 16px;
   padding-left: 16px;
   
}
.heading {
    all:unset;
    margin:0.2rem;
    border: 1px solid transparent;
    color: #06091a;
    border-radius:12px;
    font-size:24px;
    padding:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
  font-weight: bold;
}
.heading:hover {
  cursor:pointer;
  color:#899efd;
}
.about{
    all:unset;
    text-decoration: none;
   margin-right:0.5rem;
   
   margin-bottom:0;
   

}
.about:hover {
    cursor: pointer;
    color:#899efd;
}
.leftside {
  display:flex;
  align-items: center;
  font-size: 20px;
  margin:0;
    padding: 0;
}